@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var lsProduct = ViewData["listProduct"] as IEnumerable<Product>;

}
<h1>Products</h1>
<a class="btn btn-success" asp-controller="Product" asp-action="Create"> Create Product </a>
<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Product Name</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in lsProduct)
                    {
                        <tr>
                            <th scope="row">@item.ID</th>
                            <td>@item.ProductName</td>
                            <td>
                                <a class="btn btn-primary" asp-controller="Product" asp-action="Detail" asp-route-ID="@item.ID">
                                    <i class="far fa-eye"></i>
                                </a>

                                <a class="btn btn-success" asp-controller="Product" asp-action="Edit" asp-route-ID="@item.ID"><i class="fas fa-edit"></i></a>
                                <a class="btn btn-danger" asp-controller="Product" asp-action="Delete" asp-route-ID="@item.ID"><i class="far fa-trash-alt"></i></a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>

